@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dark-brown: #3E362E;
  --medium-brown: #865D36;
  --warm-brown: #93785B;
  --light-brown: #AC8968;
  --beige: #A69080;
}

@layer base {
  body {
    @apply bg-[#F5F5F5];
  }
}

@layer utilities {
  .text-shadow {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  }
}

